<div class="title"><a href="/transactions"><img src="/images/squid logo version 1.png" id="squidlogo_title_solo"></a></div>

<h1 class="table_title" id="edit_title">Add a new merchant!</h1>

<form action="/merchants/by_merchant" method="post">

<div class="edit_form">
  <div class="around_form">
  <h3>
    ENTER A MERCHANT NAME<br>
  <input type="text" name="merchant_name" class="entry_field">
</h3>


  <input type='submit' class="add_button" id="edit_button">

</form>
