<div class="video" style="position: fixed; z-index: -99; width: 120%; height: 120%">
  <iframe frameborder="0" height="100%" width="100%"
    src="https://youtube.com/embed/c86bI0A55WM?autoplay=1&controls=0&showinfo=0&autohide=1&loop=1&playlist=c86bI0A55WM">
  </iframe>
</div>

<img src="/images/squid logo version 1.png" id="squidlogo">

<h1 id="welcome_message">Welcome back!</h1>

<button id="welcome_button"><a href="/transactions">BEGIN</a></button>
