<!-- <video muted autoplay="autoplay" loop>
  <source src="/images/squid_background_video.webm" type="video/webm">
</video> -->

<img src="/images/squid logo version 1.png" id="squidlogo">

<h1 id="welcome_message">Welcome back!</h1>

<button id="welcome_button"><a href="/transactions">BEGIN</a></button>
