<div class="title"><a href="/transactions"><img src="/images/squid logo version 1.png" id="squidlogo_title_solo"></a></div>

<h1 class="table_title" id="edit_title">See transactions by tag!</h1>

<% for tag in @tags %>
<div class="wrap_buttons">
  <form action="/tags/by_tag/<%= tag.id %>" method="GET">
  <button class="add_button"><%= tag.tag %></button>
</form>
</div>
<% end %>

<h1 class="table_title" id="edit_title">Or add a new tag!</h1>

<div class="centre_button">
  <form action="/new_tag" method="GET">
  <button class="add_button">Add Tag</button>
</form>
</div>
